{% extends 'publicbase.html' %}
{% block content %}
{% load static %}

<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading" data-animate-effect="fadeIn">
					<h1 style="padding-top:89px;">Gallery</h1>
					<p class="sub">Real heroes die serving the law, not resisting it</p>
					
				</div>
			</div>
<!--<div id="portfolio">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Gallery</h2>
      <hr>
    </div>
  </div>--->
 
    <div class="row" style="margin-top:-20px;">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/Rf387c5aab179dca6df06d1b8d6d87de5.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Children Safety</h4>
              </div>
              <img src="{% static 'PublicStatic/images/Rf387c5aab179dca6df06d1b8d6d87de5.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/R019b56be19689c6e6db1ba74b754216a.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Student Police Cadet</h4>
              </div>
              <img src="{% static 'PublicStatic/images/R019b56be19689c6e6db1ba74b754216a.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/mumbai-police-birthday-of-man-759.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Badge Of Honor</h4>
              </div>
              <img src="{% static 'PublicStatic/images/mumbai-police-birthday-of-man-759.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/186016-policefb-1.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Passing Out 2020</h4>
              </div>
              <img src="{% static 'PublicStatic/images/186016-policefb-1.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/sd.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Web Inauguration</h4>
              </div>
              <img src="{% static 'PublicStatic/images/sd.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/20200410333L.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Police During Covid-19</h4>
              </div>
              <img src="{% static 'PublicStatic/images/20200410333L.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/sd1.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Police Community</h4>
              </div>
              <img src="{% static 'PublicStatic/images/sd1.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/sd2.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Traffic Police</h4>
              </div>
              <img src="{% static 'PublicStatic/images/sd2.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'PublicStatic/images/OIP.jpg' %}" title="Dish Name" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Badge</h4>
              </div>
              <img src="{% static 'PublicStatic/images/OIP.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
       
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}