{% extends 'publicbase.html' %}
{% block content %}	
{% load static %}

	<!-------services------------->
	<section id="gtco-practice-areas" data-section="Services">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading" data-animate-effect="fadeIn">
					<h1 style="padding-top:20px;">Services</h1>
					<p class="sub">Poverty is the parent of revolution and crime.</p>
					<p class="subtle-text" data-animate-effect="fadeIn">Practice <span>Areas</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="gtco-practice-area-item">
						<div class="gtco-icon">
							<img src="{% static 'PublicStatic/images/scale.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Criminal Law</h3>
							<p style="font-size:15px;">Criminal law is the body of law that relates to crime. It proscribes conduct perceived as threatening, harmful, or otherwise endangering to the property, health, safety, and moral welfare of people inclusive of one's self. </p>
						</div>
					</div>

					<div class="gtco-practice-area-item">
						<div class="gtco-icon">
							<img src="{% static 'PublicStatic/images/scale.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Industrial Law</h3>
							<p style="font-size:15px;">Labour law mediates the relationship between workers, employing entities, trade unions and the government. Collective labour law relates to the trip…</p>
						</div>
					</div>

					<div class="gtco-practice-area-item">
						<div class="gtco-icon">
							<img src="{% static 'PublicStatic/images/scale.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Financial Law</h3>
							<p style="font-size:15px;">Financial law is the law and regulation of the insurance, derivatives, commercial banking, capital markets and investment management sectors.  </p>
						</div>
					</div>

				</div>
				<div class="col-md-6">
					
					<div class="gtco-practice-area-item">
						<div class="gtco-icon">
							<img src="{% static 'PublicStatic/images/scale.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Divorce Law</h3>
							<p style="font-size:15px;">Divorce, also known as dissolution of marriage, is the process of terminating a marriage or marital union. Divorce usually entails the canceling or reorganizing of the legal duties and responsibilities of marriage. </p>
						</div>
					</div>

					<div class="gtco-practice-area-item">
						<div class="gtco-icon">
							<img src="{% static 'PublicStatic/images/scale.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Corporate Law</h3>
							<p style="font-size:15px;">Corporate law (also known as business law or enterprise law or sometimes company law) is the body of law governing the rights, relations, and conduct of persons, companies, organizations and businesses.  </p>
						</div>
					</div>

					<div class="gtco-practice-area-item">
						<div class="gtco-icon">
							<img src="{% static 'PublicStatic/images/scale.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Accident Law</h3>
							<p style="font-size:15px;">Car accident law refers to the legal rules that determine who is responsible for the personal and property damage resulting from a traffic collision.
</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
{% endblock %}