{% extends 'base.html' %}
{% block content %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">

                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <form>
                        <label>
                          <p class="label-txt">NAME</p>
                          <input type="text" class="input">
                          <div class="line-box">
                            <div class="line"></div>
                          </div>
                        </label>
                        <label>
                          <p class="label-txt">FIR NUMBER</p>
                          <input type="text" class="input">
                          <div class="line-box">
                            <div class="line"></div>
                          </div>
                        </label>
                        <label>
                          <p class="label-txt">COMPLAIN DETAILS</p>
                          <input type="text" class="input">
                          <div class="line-box">
                            <div class="line"></div>
                          </div>
                        </label>
                        <label>
                            <p class="label-txt">OFFICER INCHARGE</p>
                            <input type="text" class="input">
                            <div class="line-box">
                              <div class="line"></div>
                            </div>
                          </label>
                        <button type="submit">NOTICE</button>
                    </form>



                </div>
            </div>
{% endblock %}