{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="content mt-2">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-sm-12">
                        <form class="row">

                            <div class="col-md-12 border-right">
                                <div class="p-12 py-12">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        {% if details.profilePicture %}
                                        <div class="col-md-12">
                                            <p>
                                            <img src="{{details.profilePicture.url}}" height="100" width="150" style="border-radius: 50%;"/>
                                            </p>     
                                        </div>
                                        {% else %}
                                        <div class="col-md-12">
                                        <p>
                                        <img src="{% static 'AdminStatic/images/figure/admin.png' %}" alt="User Avatar" height="100" width="150" style="border-radius: 50%;" />
                                    </p></div>
                                        {% endif %}
                                    </div>
                                    <div class="row mt-12">
                                        <div class="col-md-12">
                                            <p>
                                            <strong>
                                                    Full Name
                                                </strong>&nbsp; &nbsp;&nbsp;&nbsp;
                                                <span>{{details.user.first_name}} {{details.user.last_name}}</span>
                                            </p>     
                                        </div>
                                        <div class="col-md-12">
                                            <p class="labels">
                                                <strong>
                                                    Email
                                                </strong>&nbsp; &nbsp;&nbsp;&nbsp;
                                                <strong>{{details.user.email}}</strong>
                                            </p>
                
                                        </div>
                                        <div class="col-md-12">
                                            <p class="labels">
                                                <strong>
                                                    Contact Number
                                                </strong>&nbsp; &nbsp;&nbsp;&nbsp;
                                                <strong>{{details.contact_No}}</strong>
                                            </p>
                
                                        </div>
                                        <div class="col-md-12">
                                            <p class="labels">
                                                <strong>
                                                    Gender
                                                </strong>&nbsp; &nbsp;&nbsp;&nbsp;
                                                <strong>{{details.gender}}</strong>
                                            </p>
                
                                        </div>
                                        <div class="col-md-12">
                                            <p class="labels">
                                                <strong>
                                                    Addhar Number
                                                </strong>&nbsp; &nbsp;&nbsp;&nbsp;
                                                <strong>{{details.adhaar_no}}</strong>
                                            </p>
                
                                        </div>
                                    <div class="col-md-12">
                                            <p class="labels">
                                                <strong>
                                                    Date of Birth
                                                </strong>&nbsp; &nbsp;&nbsp;&nbsp;
                                                <strong>{{details.DOB}}</strong>
                                            </p>
                
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
{% endblock %}